# User Credentials
CREATOR_USERNAME=your-creator-email@scbcorp.onmicrosoft.com
CREATOR_PASSWORD=your-creator-password

APPROVER_USERNAME=your-approver-email@scbcorp.onmicrosoft.com
APPROVER_PASSWORD=your-approver-password

